<%= form_tag controller: :users, action: :make_payment, product_id: params[:product_id], method: :post do%>
  <table class="table">
    <tr>
      <td><%= label_tag :credit_card_number %></td>
      <td><%= text_field_tag :credit_card_number %></td>
    </tr>
    <tr>
      <td><%= label_tag :ccv%></td>
      <td><%= text_field_tag :ccv%></td>
    </tr>
    <tr>
      <td><%= label_tag :expires_at%></td>
      <td><%= date_select :date, :expires_at%></td>
    </tr>
    <tr>
      <td><%= submit_tag "Pay" %></td>
      <td></td>
    </tr>
  </table>
<%end%>
