<%= products_url %><br />
<%= link_to "Profile", user_path(current_user) if current_user.present?%>
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Brand</th>
    <th>Product Type</th>
    <th>Price</th>
    <% @product.each do | p |%>
    <tr>
     <td>
      <% if p.images.present? %>
        <% p.images.each do | image | %>
          <%= image_tag image.photo(:thumb)%>
        <%end%>
      <%end%>
    </td>
      <td><%= p.name%></td>
      <td><%= p.brand%></td>
      <td><%= p.product_type%></td>
      <td><%= p.price%></td>
      <td><%= link_to "Edit", edit_product_path(p), :class=>"btn btn-primary"%></td>
      <td><%= link_to "Show", product_path(p), :class=>"btn btn-success"%></td>
      <td><%= link_to "Delete", p, method: :delete, data: {confirm: "Are you sure!"}, :class=>"btn btn-danger"%></td>
      <td><%= link_to "Buy", users_payment_form_path(product_id: p.id)%></td>
    </tr>
    <%end%>
  </tr>
</table>
<%= will_paginate @product%>
<br/>
<%= link_to "Products+", new_product_path%>|
<%= link_to "Download in CSV", download_in_csv_products_path(format: "csv")%>
<%= link_to "Download in JSON", in_json_products_path(format: :json) %>
